# Build
/build/
/dist
/dist-ssr

# Editor directories and files
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Logs
logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
/node_modules/
node_modules

# React Router
/.react-router/