:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgb(0, 0, 0);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #153e38;
  --background-color: oklab(from var(--color-primary) 80% a b);
  --card-border-color: oklab(from var(--color-primary) 5% a b);
  --card-background-color: oklab(from var(--color-primary) 90% a b);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  border: 1px solid var(--card-border-color);
  border-radius: 0.5rem;
  background-color: var(--card-background-color);
  padding: 1rem;
  margin-bottom: 1rem;
}
